@font-face {
    font-family: Avignon;
    src: url('/gooco/assets/Avignon Book.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Avignon;
    src: url(/gooco/assets/Avignon\ Bold.ttf);
    font-weight: bold;
}

* {
    font-family: Avignon;
    box-sizing: border-box;
    color: black;
}

body {
    min-height: 100vh;
    height: 100vh;
    margin: 0;
}

.textHeader {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%;
}

.header {
    margin-left: -15%;
    margin-top: 12%;
    padding: 0;
    font-family: Avignon;
    font-size: 6vmax;
    line-height: 0.7em;
    color: #90C8AC;
}

.color1 {
    color: #7A9D54;
}

.main {
    display: block;
    height: 85%;
    overflow: hidden;
    margin: 0;
}

.bottombar {
    box-shadow: 5px 0px 21px 0px #00000073;
    height: 15%;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.col {
    float: left;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.img {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-menu {
    width: 25%;
    display: flex;
    font-size: 200%;
    align-items: center;
    justify-content: end;
    padding-right: 5%;
    
}

.hamburger-menu i {
    color: #7A9D54;
}

.accountLink{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountLink #signup {
    background: #7A9D54;
    border-radius: 5px;
    text-decoration: none;
    padding: 1px 7px 4px 7px;
    font-size: 140%;
    color: white;
    margin-right: 5px;
}

.accountLink #login {
    background: #D1D267;
    border-radius: 5px;
    text-decoration: none;
    font-size: 140%;
    padding: 1px 7px 4px 7px;
    color: white;
}

.accountLink span{
    font-family: monospace;
    font-size: 15px;
    margin-left: 5px;
    font-weight: bold;
}

.item-container {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: grid;
    row-gap: 5px;
    grid-template-columns: auto auto;
    grid-row: auto auto;
}

.item-container .item {
    width: 100%;
    overflow: hidden;
    padding-top: 0;
}

.item-container .item svg {
    width: 100%;
    background-color: #fff;
    height: auto;
    padding-left: 5px;
}

.learnmore{
    text-decoration: none;
    border-radius: 15px;
    margin: 0;
    margin-top: 15px;
    top: 15px;
    padding: 2px 15px;
    vertical-align: middle;
    padding-bottom: 5px;
    border: 2px solid #D1D267;
    font-size: 20%;
}

.laHome {
    font-size: 30px;
    display: block;
    margin-left: -100px;
    margin-top: 15px;
    text-align: center;

}

.laHome i {
    color: #7A9D54;
}

.lmMenu {
    list-style-type: none;
    display: flex;
    flex-direction: column;  
    height: 90%;
    max-height: 100%;
}

.lmMenu li {
    flex-grow: 1;  
}

.lmMenu li a{

    font-size: 30px;
    font-family: Avignon;
    font-weight: 400;
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #7A9D54;
    width: 100%;
    height: 100%;
}

.lmMenu li:hover,
.lmMenu li:hover > a{
    background-color: #D1D267;
    color: #fff;
    transition: 0.2s;
}

