@font-face {
    font-family: Avignon;
    src: url('/gooco/assets/Avignon Book.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Avignon;
    src: url(/gooco/assets/Avignon\ Bold.ttf);
    font-weight: bold;
}

* {
    font-family: Avignon;
    box-sizing: border-box;
    color: black;
}

body {
    min-height: 100vh;
    height: 100vh;
    margin: 0;
}

.textHeader {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%;
}

.header {

    margin-top: 12%;
    padding: 0;
    font-family: Avignon;
    font-size: 6vmax;
    line-height: 0.7em;
    color: #90C8AC;
    padding-left: 15px;
    margin-right: 50px;
}

.color1 {
    color: #7A9D54;
}

.main {
    display: block;
    height: 85%;
    overflow: hidden;
    margin: 0;
}

.bottombar {
    box-shadow: 5px 0px 21px 0px #00000073;
    height: 15%;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.col {
    float: left;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.img {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-menu {
    width: 25%;
    display: flex;
    font-size: 200%;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
}

.hamburger-menu i {
    color: #7A9D54;
}

.accountLink{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountLink #signup {
    background: #7A9D54;
    border-radius: 5px;
    text-decoration: none;
    padding: 1px 7px 4px 7px;
    font-size: 1.1em;
    color: white;
    margin-right: 5px;
}

.accountLink #login {
    background: #D1D267;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1em;
    padding: 1px 7px 4px 7px;
    color: white;
}

.accountLink span{
    font-family: monospace;
    font-size: 15px;
    margin-left: 5px;
    font-weight: bold;
}

.media{
    background-image: url(/gooco/assets/goomediatext.png);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 5%;
}

.health {
    background-image: url(/gooco/assets/goohealthtext.png);
    background-size: cover;
    background-position-x: 50%;
}

.money {
    background-image: url(/gooco/assets/goomoneytext.png);
    background-size: cover;
    background-position-x: 50%;
}


.chat {
    background-image: url(/gooco/assets/goochattext.png);
    background-size: cover;
    background-position-x: 50%;
}

.splashart {
    width: 100%;
    height: 100%;
    background-image: url(/gooco/assets/image.png);
    background-size: cover;
    background-color: #1D67B2;
    background-position-y: 100%;
}


.logo {
    position: fixed;
    left: 17%;
    top: 25%;
    width: 250px;
    height: auto;
    z-index: 9999 !important;
}

.item-container {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: grid;
    row-gap: 5px;
    grid-template-columns: auto auto;
    grid-row: auto auto;
}

.item-container a {
    padding:0;
    margin:0;
    text-decoration: none;
    line-height: 0;
    height: 100%;
    overflow: hidden;
}

.item-container a .item {
    width: 100%;
    overflow: hidden;
    padding-top: 0;
}

.gooHome {
    position: fixed;
    left: 101%;
    top: 2.5%;
    color:#fff !important;
}

.gooHome i{

    color:#fff !important;
}

.item-container a .item svg {
    width: 100%;
    background-color: #fff;
    height: auto;
    padding-left: 5px;
}

.learnmore{
    text-decoration: none;
    border-radius: 15px;
    margin: 0;
    margin-top: 15px;
    top: 15px;
    padding: 2px 15px;
    vertical-align: middle;
    padding-bottom: 5px;
    border: 2px solid #D1D267;
    font-size: 20%;
}

.laHome {
    font-size: 30px;
    display: block;
    margin-left: -100px;
    margin-top: 15px;
    text-align: center;

}

.laHome i {
    color: #7A9D54;
}

.laHome:hover > i {
    color: #000;
}

.lmMenu {
    list-style-type: none;
    display: flex;
    flex-direction: column;  
    height: 90%;
    max-height: 100%;
}

.lmMenu li {
    flex-grow: 1;  
}

.lmMenu li a{
    transition: 0.2s;
    font-size: 30px;
    font-family: Avignon;
    font-weight: 400;
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #7A9D54;
    width: 100%;
    height: 100%;
}



.lmMenu li:hover,
.lmMenu li:hover > a {
    background-color: #6d6d4c;
    color: #fff;
    transition: 0.2s;
}

.content {
    width: 100%;
    height: 100%;
    font-family: Avignon;
    padding: 50px;
    font-size: 3em;
    overflow-y: scroll;
    display: none;
}

.show {
    display:block;
}


.active {
    background-color: #D1D267 !important;
    color: #fff !important;
    transition: 0.5s;
}